<%- include('header'); -%>

<div class="about-me-box" style="width: 700px; margin: auto;">
  <p class="about-me"> 
    <%= aboutApp %>
    <a style="margin-top:0; text-decoration: none; color: white;" href="https://www.freepik.com/icon/delete_3807516">Delete Icon has been created by Ilham Fitrotul Hayat</a>
  </p>
</div>

<%- include('footer'); -%>
