<%- include('header'); -%>

<h2>About the creator of the cards!</h2>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio quos rerum
  placeat dolorem nostrum molestiae ad, reiciendis omnis cupiditate quisquam
  repudiandae assumenda. Porro sunt minus deleniti alias laborum, aliquam magni.
</p>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio quos rerum
  placeat dolorem nostrum molestiae ad, reiciendis omnis cupiditate quisquam
  repudiandae assumenda. Porro sunt minus deleniti alias laborum, aliquam magni.
</p>
<br />
<%- include('footer'); -%>
