<%- include('header'); -%>
<div class="about-me-box" style="width: 950px; margin: auto;">
  <p class="about-me"><%= about %></p>
  <hr>
  <div class="tech-stack-icons">
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-tailwindcss-original-wordmark colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-jquery-plain-wordmark colored"></i>
    <i class="devicon-nodejs-plain colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-redux-original colored"></i>
    <div class="rounded-corners">
        <i class="devicon-webflow-original"></i>
    </div>
    
  </div>
  <hr>
  <div class="contact">
    <p class="about-me" margin-top="0px"> Let's connect and explore how I can be a valuable asset to your team.</p>
      <hr>
    <div class="contact-icons">
      <a class="icon-button" href="mailto:nejc.furh7@gmail.com">
        <img
          class="mail-icon"
          src="https://cdn-icons-png.flaticon.com/512/666/666162.png"
        />
      </a>
      <a class="footer-link" href="https://si.linkedin.com/in/nejcfurh">
        <img
          class="mail-icon"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png"
      /></a>
      <a class="footer-link" href="https://twitter.com/nejcfurh">
        <img
          class="mail-icon"
          src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/x-social-media-round-icon.png"
      /></a>
      <a class="footer-link" href="https://www.facebook.com/nejcfurh/">
        <img
          class="mail-icon"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png"
      /></a>
    </div>
  </div>
  </div>
</div>

<%- include('footer'); -%>