</body>
  <footer>© Designed and developed by Nejc Furh. 2023. <br>
    <a style="color:black; text-decoration:none" href="https://www.freepik.com/icon/delete_3807871">Delete icon by Ilham Fitrotul Hayat</a>
  </footer>
</html>