<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CardList</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;400&family=Sono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <navbar class="navbar">
      <h1 class="navbar-logo">What do I have to do?</h1>
      <!-- <div class="navbar-links">
        <h2 class="navbar-link"><a href="/">Home</a></h2>
        <h2 class="navbar-link"><a href="/about">About</a></h2>
        <h2 class="navbar-link"><a href="/contact">Contact</a></h2>
      </div> -->
    </navbar>

