html {
  background: linear-gradient(150deg, #00bfff, #ff4c68, #ef8172);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
 
h1 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

h2 {
  color: #4b4baa;
  text-align: center;
}

.navigation {
  /* margin-top: 5%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  align-content: stretch;
  flex-wrap: wrap;
  /* width: fit-content; */
}

.navigation-button {
  display: block;
  background: none;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration:400ms;
  margin-right: 20px;
}

.navigation-button:hover {
  color: #4b4baa;
}


.box {
  max-width: fit-content;
  margin: 15px auto 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #4b4baa;
  text-align: center;
  border-radius: 20px;
  padding: 0 20px 0;
  color: white;
  margin: 10px auto 10px;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1be;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #ff4c68;
}

input[type='checkbox'] {
  margin: 20px;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin: 5px 20px 5px;
}

.add-button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #4b4baa;
  color: #fff;
  font-size: 30px;
  /* padding-bottom: 6px; */
  border-width: 0;
  cursor: pointer;
}

input[type='text'] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type='text']:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 0 #4b4baa;
}

::placeholder {
  color: grey;
  opacity: 0.5;
}

footer {
  color: #f1f1f1;
  text-align: center;
  font-size: 13px;
  margin-top: auto;
  height:70px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    margin: 50px auto;
    border-radius: 40px;
    backdrop-filter: blur(8px);
    background: rgba(255,255,255,0.18);
    width: 50%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.123);
}

.header {
  display: flex;
  justify-content: space-around;
}

hr {
  width: 90%;
  border: 0;
  border-top: 0.5px solid gray
}

.navigation-dropdown {
  float: left;
  overflow: hidden;
}

.navigation-dropdown {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  margin: 0;
}

.navigation-dropdown-content {
  display: none;
  position: absolute;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 0;
  background-color: #4b4baa;
  border-radius: 10px;
  padding: 15px;
}

.navigation-dropdown-content a {
  float: left;
  color: rgb(234, 232, 232);
  border: 0;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  text-align: left;
  width: inherit;
  font-size: 15px;
}

.navigation-dropdown-content a:hover {
  background-color: transparent;
  transition-duration: 200ms;
}

.navigation-dropdown:hover .navigation-dropdown-content{
  display: flex;
  flex-direction: row;
  transition-duration: 200ms;
}

.dropdown-button {
  display: block;
  padding: 15px 15px 5px 2px;
  color: white;
  text-align: center;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  border-radius:8px;
  background-color: transparent;
}

.dropdown-button:hover {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navigation-button-dropdown {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  color: white;
}

.add-button-dropdown {
  border-radius: 50%;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.navigation-button-dropdown:hover {
  color: rgba(255, 255, 255, 0.461)

}

.add-button-dropdown:hover {
  background-color: gray;
}

/* card-animation */

.cards-box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-cards {
  min-height: 500px;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background-color: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all .3s ease;
}

.description p {
  color: #ffffff;
}

.description h4 {
  display: none;
}

input[type="radio"] {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important
}

input + label .form-card {
  display: none;
}

.card[for="List1"] {
  background-image: url("../photos/image1.jpg");
}

.card[for="List2"] {
  background-image: url("../photos/image1.jpg");
}

.card[for="List3"] {
  background-image: url("../photos/image1.jpg");
}

.card[for="List4"] {
  background-image: url("../photos/image1.jpg");
}

.card-add[for="addList"] {
  background-color: rgba(248, 247, 247, 0.599);
}

.addList-text {
  padding: 0;
  color: black !important;
  text-transform: uppercase;
  font-weight: bold;
}

.add-list-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

input:checked + label .form-card {
  display: flex;
  margin:auto;
  width: fit-content;
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 20px;
}

.card-add {
  width: 80px;
  border: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card-add > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card-add > .row > .icon {
  background-color: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-add > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all .3s ease;
}

/* card animation - responsive */

@media (max-width: 766px) {
  .wrapper {
    margin-top: 400px;
  }

  .container {
    height: 1200px;
    flex-direction: column;
  }

  .slide {
    width: 400px;
    align-items: flex-start;
  }

  .slide > .row {
    flex-direction: column;
  }

  .slide > .row > .icon-1,
  .icon-2,
  .icon-3 {
    width: 50px;
     }

  .slide {
    height: 80px;
  }

  .slide > .row > .description {
    height: 500px;
    width: 400px;
  }

  input:checked + label {
    height: 600px;
    width: 400px;
  }
}

