html {
  /* vibrant background */
  /* background: linear-gradient(150deg, #00bfff, #ff4c68, #ef8172); */
  /* calm background */
  background: linear-gradient(180deg, #070707, #211f20);
  /* black background */
  /* background-color: rgb(20, 20, 20); */
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVIGATION BAR */

.navbar {
  display: flex;
  flex-direction: row;
  padding: 0px 50px 0px 50px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar-logo {
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase; 
}

.navbar-link {
  font-size: 18px;
}
 
h1 {
  color: #ffffffbd;
  font-family: 'Poppins', sans-serif;
}

h2 {
  padding: 0px 30px 0px 30px;
}

h2 > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.577);
}

a:hover {
  cursor: pointer;
  color: rgb(95, 95, 95);
  transition: all 0.3s;
}

#heading {
  background-color: #4b4baa;
  text-align: center;
  border-radius: 20px;
  padding: 0 20px 0;
  color: white;
  margin: 10px auto 10px;
}

/* GENERAL STYLING */

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin: 5px 20px 5px;
}

input[type='text'] {
  text-align: center;
  border: none;
  background: transparent;
  font-size: 40px;
  font-weight: 100;
  width: fit-content;
  color: rgba(23, 23, 26, 0.796);
  transition: all 0.5s;
}

input[type='text']:focus {
  outline: none;
  color: rgba(23, 23, 26, 0.796);
  box-shadow: inset 0 -2px 2px -2px #353434bd;
  transition: all 0.5s;
}

input[type='url'] {
  text-align: center;
  border: none;
  background: transparent;
  font-size: 40px;
  font-weight: 100;
  width: fit-content;
  color: rgba(23, 23, 26, 0.796);
  transition: all 0.5s;
}

input[type='url']:focus {
  outline: none;
  color: rgba(23, 23, 26, 0.796);
  box-shadow: inset 0 -2px 2px -2px #353434bd;
  transition: all 0.5s;
}

::placeholder {
  color: rgba(245, 245, 245, 0.721);
  opacity: 0.5;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

footer {
  color: #f1f1f191;
  text-align: center;
  font-size: 13px;
  margin-top: auto;
  padding-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-around;
}

hr {
  width: 90%;
  border: 0;
  border-top: 0.5px solid rgb(46, 46, 46)
}

/* CARD ANIMATION */

.cards-box {
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 80vh;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-cards {
  max-height: 500px;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  margin-top: -30px;
}

.title-div {
  display: flex;
  background-color: transparent;
  height: 100%;
  text-align: center;
  width: 80px;
  justify-content: space-around;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  background: repeating-linear-gradient(99deg, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0.010), rgba(255, 255, 255, 0.001));
}

.title {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    height: fit-content;
    text-transform: uppercase;
    margin-top: 30px
}

.card {
  width: 80px;
  border: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-start;
  transition: 0.6s cubic-bezier(0.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: flex-end;
}

.row {
  background: repeating-linear-gradient(180deg, rgba(255, 255, 255, 0.011), rgba(0, 0, 0, 0.72));
}

.row-add {
  background: linear-gradient(180deg, rgb(32 32 32 / 18%), rgb(0 0 0 / 72%));
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background-color: rgb(23, 23, 26);
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description > .delete-button > .icon {
  background-color: rgb(23, 23, 26);
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all .3s ease-in;
  align-items: center;
}

.delete-icon {
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  transition: all, 0.2s;
}

.description p {
  color: #ffffff;
}

.description-add p {
  color: #ffffff;
}

.description-add-card p {
  color: #ffffff;
}

.description h4 {
  display: none;
}

input[type="radio"] {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important
}

input#addList + label.card > .form-title-flex > .title-div > .title-add {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  /* height: fit-content; */
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 25px;
  height: 400px;
  /* padding-bottom: 30px; */
  text-align: right;
}

input#addList + label.card > .title-div {
  background: none;
}

input#addList + label.card {
  background-color: rgba(51, 51, 51, 0.198);
}

.card[for="List1"] {
  background-image: url("../photos/image1.jpg");
}

.card[for="List2"] {
  background-image: url("../photos/image2.jpg");
}

.card[for="List3"] {
  background-image: url("../photos/image3.jpg");
}

.card[for="List4"] {
  background-image: url("../photos/image4.jpg");
}

/* .card-add[for="addList"] {
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.321);
} */

/* FORM INPUT */

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin-left: 20px;
  cursor: default;
}

.form-title-flex {
  display:flex
}

form.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
}

.card-item {
  backdrop-filter: blur(15px);
  /* background-color: rgba(255, 255, 255, 0.068); */
  margin-bottom: 30px;
  color: white;
  border-radius: 30px;
}

.button-add {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  color: rgba(23, 23, 23, 0.802);
  opacity: 0.5;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 25px;
  transition: all 0.5s;
}

.button-add:hover {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: all 0.5s;
}

/* TASKS LIST STYLING */

.card-form-tasks {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  margin-right: 40px;
}

.card-task {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: auto;
  backdrop-filter: blur(3px) !important;
  background-color: #0707075d;
  padding:10px;
  border-radius: 10px;
  min-width: 330px;
  width: fit-content;
}

.card-task-line {
  display:flex; 
  flex-direction:row;
  width: 100%;
}

.complete-icon {
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  filter: hue-rotate(90deg);
  transition: all 0.2s;
}

.complete-icon:hover {
  filter: hue-rotate(0);
}

.add-task-icon {
  margin-left: 10px;
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  filter: hue-rotate(90deg);
  transition: all 0.2s;
}

.add-task-icon:hover {
  filter: hue-rotate(120deg);
}

.card-task-box {
 background-color: transparent;
 border: none;
 padding: 0px;
}

.card-task-name {
  color: rgb(221, 221, 221);
  text-align: left;
  font-weight: 200;
}

.card-task-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 60px;
  margin-top: auto;
}

#card-task-input-text {
  padding:10px;
  font-size: 18px;
  width: 200px;
  text-align: center;
  border: none;
  color: rgb(245, 245, 247);
  background-color:rgba(0, 0, 0, 0.523);
  transition: all 0.5s;
  border-radius: 10px;
}

/* #card-task-input-text:focus {
  background-color:rgba(218, 216, 216, 0.456);
  border-radius: 20px;
} */

#card-task-input-text::placeholder {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 200;
}

/* card animation - responsive */

@media (max-width: 766px) {
  .wrapper {
    margin-top: 400px;
  }

  .container {
    height: 1200px;
    flex-direction: column;
  }

  .slide {
    width: 400px;
    align-items: flex-start;
  }

  .slide > .row {
    flex-direction: column;
  }

  .slide > .row > .icon-1,
  .icon-2,
  .icon-3 {
    width: 50px;
     }

  .slide {
    height: 80px;
  }

  .slide > .row > .description {
    height: 500px;
    width: 400px;
  }

  input:checked + label {
    height: 600px;
    width: 400px;
  }
}

/* DevIcons */

.devicon-react-original-wordmark, .devicon-jquery-plain-wordmark, .devicon-nodejs-plain, .devicon-express-original-wordmark, .devicon-css3-plain-wordmark, .devicon-tailwindcss-original-wordmark, .devicon-html5-plain-wordmark, .devicon-bootstrap-plain-wordmark, .devicon-mongodb-plain-wordmark, .devicon-postgresql-plain-wordmark, .devicon-webflow-original, .devicon-redux-original {
  font-size: 70px;
}

.devicon-webflow-original {
  display: inline-block;
  transform: scale(1.2);
}

.rounded-corners {
  border: 0px solid #494c4b;
  border-radius: 60%;
  overflow: hidden;
  background-size: cover;
}

.tech-stack-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/* About Me */

.about-me-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

.about-me {
  white-space: pre-line;
  color: white;
  text-align: center;
}

.icon-button {
  width: 50px;
  height: 50px;
}

.mail-icon {
  display: inline;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px
}

.contact-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

hr {
  padding: 5px;
}